/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');
/* End Font */

/* Start Body */
body {
    color: #24292e;
    font-family: Sniglet, Helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-black {
    background-color: black;
}
.bg-gray {
    background-color: gray;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor */
a:link,
a:visited {
    color: #0366d6;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}
/* End Anchor */

/* Start Menu Primer */
.menu-primer ul {
    background-color: #5fda7393;
    border-radius: 4px;
    box-shadow:
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid #e9fdef;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: #0e0000;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #fdfde6;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #fdfde6;
    color: #333333;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Effect */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);
.snip1573 {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.snip1573:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.snip1573 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.snip1573 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
} */
/* End Effect */

/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 120px;
}

.main-one {
    float: left;
    overflow: auto;
    width: 70%
}
/* End Main */

/* Start Sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 29%
}
/* End Sidebar */

/* Start Box */
.box-heading {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #ffffff;
    border: 2px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box */

/* Start Testimonial */
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/* End Testimonial */

/* Start Menu Sekunder */
.menu-sekunder {
    background-color: #5fda7393;
    box-shadow:
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two {
    width: 30%;
}
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyraight */
.copyright p {
    font-size: 15px;
}
/* End Copyraight */